//colors
$color_picton_blue_approx: #56baed;
$color_jordy_blue_approx: #92badd;
$color_celeste_approx: #cccccc;
$white: #fff;
$black_30: rgba(0,0,0,0.3);
$color_black_haze_approx: #f6f6f6;
$color_link_water_approx: #6e7275;
$color_woodsmoke_approx: #0d0d0d;
$color_viking_approx: #5fbae9;
$color_viking_40_approx: rgba(95,186,233,0.4);
$color_roman_approx: #e95f5f;
$red: red;
$color_plantation_approx: darkslategrey;
$color_chestnut_approx: #b94956;

//fonts
$font_0: Poppins;
$font_1: sans-serif;

//urls
$url-0: "https://fonts.googleapis.com/css?family=Poppins";
